body
{
    height:100vh;
    width:100vw;


}



.page1     /*grid format for page 1*/
{
    margin: 2.5% 5%;
    display:grid;
    grid-template-areas:
"aside section"
". footer";

    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 1fr;
    border: 1px solid black;
    background:gray;
}

.page2 /*grid format for page 2*/
{
    margin: 2.5% 5%;
    display:grid;
    grid-template-areas:
            "aside section"
            ". footer";

    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 1fr;
    border: 1px solid black;
    background:yellow
}
.page3  /*grid format for page 3*/
{
    margin: 2.5% 5%;
    display:grid;
    grid-template-areas:
            "aside section"
            ". footer";

    grid-template-columns: 2fr 3fr;
    grid-template-rows: 3fr 1fr;
    border: 1px solid black;
    background:red;
}

aside  /*adjust the font, text-alignment, and padding for the page section*/
{
    grid-area: aside;

    font-size: 3rem;
    text-align: right;
    padding-top:4%;
    padding-right:4%;
}


section
{
    grid-area:section;

}


footer
{
    grid-area: footer;


}

.bold    /*adjust the page number text*/
{
    font-size:4.5rem;
    font-weight: bolder;
    margin-top:0;
}

.content{       /*adjust the font padding and border for the content section*/
    border-left: 3px solid black;
    padding-left: 2%;
    padding-top:4%;
    padding-right:10%;
    font-size: 1.5rem;



}