<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cwApp/css/base.css' %}">
    <script src="{% static 'cwApp/js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
{% block header %}

<div class="page1"> {# base template with grid #}
 <aside>   {# section for page #}
    {% block aside %}
    {% endblock aside %}
</aside>
<section>   {# section for article #}
    {% block section %}
    {% endblock section %}
</section>

    <footer>   {# sections for buttons #}
     {% block footer %}
     {% endblock footer %}
 </footer>
</div>

{% endblock header %}
</body>
</html>